<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title></title>
<link rel='stylesheet' href='/css/font-awesome.min.css'>
<link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="container">
  <div class="card"></div>
  <div class="card">
    <h1 class="title">用户登录</h1>
    <form id="loginForm" method="post">
      <div class="input-container">
        用户名<input type="text" name="user" required="required" />
        <div class="bar"></div>
      </div>
      <div class="input-container">
        密码<input type="password" name="pwd" required="required" />
        <div class="bar"></div>
      </div>
      <div class="button-container">
        <button type="button" id="btn"><span>登录</span></button>
      </div>
      <div><p style="color: red;text-align: center" id="err_msg"></p></div>
    </form>
  </div>
</div>

<script src='/js/jquery.min.js'></script>
<script src="/js/script.js"></script>
<div style="text-align:center;">
</div>
</body>
</html>

